/* Light */
.content-container > .container {
    background: url('../../image/dot_white_65.png');
}
#content {
    padding-top: 15px;
}
#column-left, #column-right {
    padding-top: 15px;
    color: #555;
}
.header-container {
    background: url('../../image/dot_white_30.png');
}
.navbar-default {
    background: url('../../image/dot_white_55.png');
    border-color: #bbb;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: url('../../image/dot_white_65.png');
}
#column-left .product-grid .product-block .price > div, #column-right .product-grid .product-block .price > div {
    background: url('../../image/dot_white_60.png');
}
/*#cart > .btn {
    background: url('../../image/dot_white_85.png');
}*/
#column-left .box .box-heading, #column-right .box .box-heading {
    background: url('../../image/dot_white_60.png');
}
.breadcrumb {
    background: #fff;
}