/* Magenta */
a {
    color: #c45bde;
}
a:hover,
a:focus {
    color: #a628c5;
}
.text-primary {
    color: #c45bde;
}
a.text-primary:hover {
    color: #b531d5;
}
.bg-primary {
    background-color: #c45bde;
}
a.bg-primary:hover {
    background-color: #b531d5;
}
.btn-primary {
    background-color: #c45bde;
    border-color: #bc46da;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    background-color: #b531d5;
    border-color: #9f26bc;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
    background-color: #c45bde;
    border-color: #bc46da;
}
.btn-primary .badge {
    color: #c45bde;
}
.btn-link {
    color: #c45bde;
}
.btn-link:hover,
.btn-link:focus {
    color: #a628c5;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
    background-color: #c45bde;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    border-color: #c45bde;
}
.pagination > li > a,
.pagination > li > span {
    color: #c45bde;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
    color: #a628c5;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: #c45bde;
    border-color: #c45bde;
}
.label-primary {
    background-color: #c45bde;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #b531d5;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
    color: #c45bde;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #c45bde;
}
.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    background-color: #c45bde;
    border-color: #c45bde;
}
.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
    color: #ffffff;
}
.panel-primary {
    border-color: #c45bde;
}
.panel-primary > .panel-heading {
    background-color: #c45bde;
    border-color: #c45bde;
}
.panel-primary > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #c45bde;
}
.panel-primary > .panel-heading .badge {
    color: #c45bde;
}
.panel-primary > .panel-footer + .panel-collapse > .panel-body {
    border-bottom-color: #c45bde;
}
a.button, input.button {
    background-color: #c45bde;
    border-color: #bc46da;
}
a.button:hover, input.button:hover {
    background-color: #b531d5;
    border-color: #9f26bc;
}
.pagination .links > *, .pagination_buttons > div .links > * {
    color: #c45bde;
}
.pagination .links > *:hover,
.pagination_buttons > div .links > *:hover,
.pagination .links > *:focus,
.pagination_buttons > div .links > *:focus {
    color: #a628c5;
}
.pagination_buttons > div .links > b,
.pagination .links > b,
.pagination_buttons > div .links > b:hover,
.pagination .links > b:hover,
.pagination_buttons > div .links > b:focus,
.pagination .links > b:focus {
    background-color: #c45bde;
    border-color: #c45bde;
}
.product-grid .product-block:hover, .product-grid .product-block .description {
    border-color: #e9ccf0;
}
.product-grid .product-block.product-block-detailed:hover, .product-grid .product-block.product-block-detailed .description {
    border-color: transparent;
}
#footer {
    border-top: 3px solid #c45bde;
    color: #777;
}