{% if modules %}
<!-- Right Sidebar Column with Enhanced Spacing -->
<aside id="column-right" class="col-lg-3 col-md-4 d-none d-md-block">
  <div class="d-flex flex-column gap-3">
    {% for module in modules %}
      {{ module }}
    {% endfor %}
  </div>
</aside>
{% endif %}