<form action="{{ action }}" method="post" id="search">
  <div class="input-group shadow-sm">
    <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}" class="form-control" aria-label="{{ text_search }}"/>
    <button type="submit" class="btn btn-primary">
      <i class="fa-solid fa-magnifying-glass"></i>
      <span class="d-none d-lg-inline ms-2">Search</span>
    </button>
  </div>
</form>
